# Configuration de la base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=pigeon_manager
DB_PORT=3306

# Configuration des emails (Gmail)
EMAIL_USER=votre-email@gmail.com
EMAIL_PASS=votre-mot-de-passe-app

# Configuration alternative pour SendGrid
# SENDGRID_API_KEY=votre-cle-api-sendgrid

# Configuration du serveur
PORT=3002
NODE_ENV=development

# Sécurité

COOKIE_SECRET=votre-secret-cookie-super-securise 